*{
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}
.container{
    background-color: black;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.square{
    background-color: rgb(31, 30, 30);
    height: 16px;
    width: 16px;
    margin: 2px;
    box-shadow: 0 0 2px black;
    transition: 4s ease-in;
}
.square:hover{
    transition-duration: 0s;
}
